body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {
  display: inline-block;
  width: 140px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #0084ff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color .15s ease-in;
}


.btn:hover {
  background-color: #2600ff;
}

.btn-dis {
  pointer-events: none;
  background-color: rgba(0, 225, 255, 0.7);
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 0;
}

.label{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5D6D97;
  cursor: pointer;
}

.label:not(:last-child){
  margin-right: 70px;
}

.input {
  margin-top: 1rem;
  width: 226px;
  height: 28px;
  font-size: 16px;
  text-indent: 12px;
  color: #5D6D97;;
  outline: none;
  border: none;
  font-weight: 400;
  border-radius: 20px;
  transition: box-shadow .2s ease-in;
}




.input:focus{
  box-shadow: 0 0 0 2px #5D6D97; /* or whatever colour you'd prefer */
}

.inValidInput:focus {
  box-shadow: 0 0 0 2px #d41111;
}

.tac{
  text-align: center;
}
